div{
    width:200px;
    height:200px;
    background-color: chocolate;
    border:2px solid black;

    transition-property:all;
    transition-duration: 2s;
    transition-timing-function:ease-in;
    transition-delay: 1s;  
    
    /* Transition Shorthand */
    /* Transition:font-size 2s ease-in 0.2;  */
}

div:hover{
    color:white;
    background-color: brown;
    font-size:20px;
}

/* click karne par div pink ho jayga in active state */
div:active{
    color:navy;
    background-color: pink;
}