/* Practice set 3 */

/* Q1 */
body{
    background-color: navy;
}

div{
    background-color: green;
    border:5px solid white;
    border-radius: 50%;

    height: 100px;
    width: 100px;
}








