h1{
    color: rgb(0, 255, 0);
    background-color: #00f;
}

button{
    color: #ffffff;
    background-color: blue;
}

p{
    color:#000000;
    background-color: #0000ff;
}

body{
    background-color: #8BBB92;
}